S3method(AddCovariance,Model)
S3method(DeleteRows,Dataset)
S3method(FixConstParam,Covariance)
S3method(Forget,Model)
S3method(Freeze,Model)
S3method(K.specific,CovarianceNoise)
S3method(K.specific,CovarianceSE)
S3method(K.specific,CovarianceSEAniso2D)
S3method(K.specific,CovarianceSELocalized)
S3method(K.specific,CovarianceSEVaryingEll)
S3method(KDerivImplementation,CovarianceNoise)
S3method(KDerivImplementation,CovarianceSE)
S3method(KDerivImplementation,CovarianceSEAniso2D)
S3method(KDerivImplementation,CovarianceSELocalized)
S3method(KDerivImplementation,CovarianceSEVaryingEll)
S3method(KInIn,Covariance)
S3method(KInInDeriv,Covariance)
S3method(KInOut,Covariance)
S3method(KOutIn,Covariance)
S3method(KOutOut,Covariance)
S3method(L,Model)
S3method(MSR,Dataset)
S3method(NamedCovariance,Model)
S3method(NeedToRecalculate,LazyMatrix)
S3method(Plot2D,Dataset)
S3method(PlotBubblingSurfaces2D,Model)
S3method(PosteriorInterval,Model)
S3method(PosteriorMean,Model)
S3method(PosteriorStandardDeviation,Model)
S3method(PredictionMatrix,Model)
S3method(RemoveRange,Dataset)
S3method(Same,Dataset)
S3method(SetNoiseBounds,Model)
S3method(StoreMatrix,LazyMatrix)
S3method(Train,Model)
S3method(Untransform,Dataset)
S3method(Variance,CovarianceNoise)
S3method(Variance,CovarianceSE)
S3method(Variance,CovarianceSEAniso2D)
S3method(Variance,CovarianceSELocalized)
S3method(Variance,CovarianceSEVaryingEll)
S3method(ell,CovarianceSEVaryingEll)
S3method(getContributionIds,Model)
S3method(getD,Dataset)
S3method(getDataOffset,Dataset)
S3method(getDpts,Dataset)
S3method(getId,Covariance)
S3method(getId,Dataset)
S3method(getId,Model)
S3method(getIsPoisson,Dataset)
S3method(getLogspaceNames,CovarianceNoise)
S3method(getLogspaceNames,CovarianceSE)
S3method(getLogspaceNames,CovarianceSEAniso2D)
S3method(getLogspaceNames,CovarianceSELocalized)
S3method(getLogspaceNames,CovarianceSEVaryingEll)
S3method(getLower,Covariance)
S3method(getLower.Model,Model)
S3method(getLowerPlain,CovarianceNoise)
S3method(getLowerPlain,CovarianceSE)
S3method(getLowerPlain,CovarianceSEAniso2D)
S3method(getLowerPlain,CovarianceSELocalized)
S3method(getLowerPlain,CovarianceSEVaryingEll)
S3method(getM,LazyMatrix)
S3method(getN,Dataset)
S3method(getNoiseVar,Dataset)
S3method(getParamNames,Covariance)
S3method(getParamNamesPlain,CovarianceNoise)
S3method(getParamNamesPlain,CovarianceSE)
S3method(getParamNamesPlain,CovarianceSEAniso2D)
S3method(getParamNamesPlain,CovarianceSELocalized)
S3method(getParamNamesPlain,CovarianceSEVaryingEll)
S3method(getParams,Covariance)
S3method(getParams,Model)
S3method(getParamsPlain,CovarianceNoise)
S3method(getParamsPlain,CovarianceSE)
S3method(getParamsPlain,CovarianceSEAniso2D)
S3method(getParamsPlain,CovarianceSELocalized)
S3method(getParamsPlain,CovarianceSEVaryingEll)
S3method(getQuantity,Dataset)
S3method(getSignalIds,Model)
S3method(getUpper,Covariance)
S3method(getUpper.Model,Model)
S3method(getUpperPlain,CovarianceNoise)
S3method(getUpperPlain,CovarianceSE)
S3method(getUpperPlain,CovarianceSEAniso2D)
S3method(getUpperPlain,CovarianceSELocalized)
S3method(getUpperPlain,CovarianceSEVaryingEll)
S3method(getX,Dataset)
S3method(getXformedDpts,Dataset)
S3method(setLower,Covariance)
S3method(setLower.Model,Model)
S3method(setParams,Model)
S3method(setParamsPlain,Covariance)
S3method(setQuantity,Dataset)
S3method(setUpper,Covariance)
S3method(setUpper.Model,Model)
S3method(sigma.f,CovarianceSEVaryingEll)
export(Anscombe)
export(BubblingRandomMatrix)
export(DemoPause)
export(DistanceMatrix)
export(FindGapPoints)
export(GradLogML)
export(GriddedConvexHull)
export(HexagonalGrid)
export(LogML)
export(PlotSurface)
export(SmartTrace)
export(Widths)
export(erf)
import(R.oo)
