S3method(AddCovariance,Model)
S3method(DeleteRows,Dataset)
S3method(FixConstParam,Covariance)
S3method(Forget,Model)
S3method(Freeze,Model)
S3method(K.specific,CovarianceNoise)
S3method(K.specific,CovarianceSE)
S3method(K.specific,CovarianceSEAniso2D)
S3method(K.specific,CovarianceSELocalized)
S3method(K.specific,CovarianceSEVaryingEll)
S3method(KDerivImplementation,CovarianceNoise)
S3method(KDerivImplementation,CovarianceSE)
S3method(KDerivImplementation,CovarianceSEAniso2D)
S3method(KDerivImplementation,CovarianceSELocalized)
S3method(KDerivImplementation,CovarianceSEVaryingEll)
S3method(KInIn,Covariance)
S3method(KInInDeriv,Covariance)
S3method(KInOut,Covariance)
S3method(KOutIn,Covariance)
S3method(KOutOut,Covariance)
S3method(L,Model)
S3method(MSR,Dataset)
S3method(NamedCovariance,Model)
S3method(NeedToRecalculate,LazyMatrix)
S3method(Plot2D,Dataset)
S3method(PlotBubblingSurfaces2D,Model)
S3method(PosteriorInterval,Model)
S3method(PosteriorMean,Model)
S3method(PosteriorStandardDeviation,Model)
S3method(PredictionMatrix,Model)
S3method(RemoveRange,Dataset)
S3method(Same,Dataset)
S3method(SetNoiseBounds,Model)
S3method(StoreMatrix,LazyMatrix)
S3method(Train,Model)
S3method(Untransform,Dataset)
S3method(Variance,CovarianceNoise)
S3method(Variance,CovarianceSE)
S3method(Variance,CovarianceSEAniso2D)
S3method(Variance,CovarianceSELocalized)
S3method(Variance,CovarianceSEVaryingEll)
S3method(clone,Covariance)
S3method(clone,Model)
S3method(ell,CovarianceSEVaryingEll)
S3method(getContributionIds,Model)
S3method(getD,Dataset)
S3method(getDataOffset,Dataset)
S3method(getDpts,Dataset)
S3method(getId,Covariance)
S3method(getId,Dataset)
S3method(getId,Model)
S3method(getIsPoisson,Dataset)
S3method(getLogspaceNames,CovarianceNoise)
S3method(getLogspaceNames,CovarianceSE)
S3method(getLogspaceNames,CovarianceSEAniso2D)
S3method(getLogspaceNames,CovarianceSELocalized)
S3method(getLogspaceNames,CovarianceSEVaryingEll)
S3method(getLower,Covariance)
S3method(getLower,Model)
S3method(getLowerPlain,CovarianceNoise)
S3method(getLowerPlain,CovarianceSE)
S3method(getLowerPlain,CovarianceSEAniso2D)
S3method(getLowerPlain,CovarianceSELocalized)
S3method(getLowerPlain,CovarianceSEVaryingEll)
S3method(getM,LazyMatrix)
S3method(getN,Dataset)
S3method(getNoiseVar,Dataset)
S3method(getParamNames,Covariance)
S3method(getParamNamesPlain,CovarianceNoise)
S3method(getParamNamesPlain,CovarianceSE)
S3method(getParamNamesPlain,CovarianceSEAniso2D)
S3method(getParamNamesPlain,CovarianceSELocalized)
S3method(getParamNamesPlain,CovarianceSEVaryingEll)
S3method(getParams,Covariance)
S3method(getParams,Model)
S3method(getParamsPlain,CovarianceNoise)
S3method(getParamsPlain,CovarianceSE)
S3method(getParamsPlain,CovarianceSEAniso2D)
S3method(getParamsPlain,CovarianceSELocalized)
S3method(getParamsPlain,CovarianceSEVaryingEll)
S3method(getQuantity,Dataset)
S3method(getSignalIds,Model)
S3method(getUpper,Covariance)
S3method(getUpper,Model)
S3method(getUpperPlain,CovarianceNoise)
S3method(getUpperPlain,CovarianceSE)
S3method(getUpperPlain,CovarianceSEAniso2D)
S3method(getUpperPlain,CovarianceSELocalized)
S3method(getUpperPlain,CovarianceSEVaryingEll)
S3method(getVaryingParamNames,Model)
S3method(getX,Dataset)
S3method(getXformedDpts,Dataset)
S3method(print,Covariance)
S3method(print,Dataset)
S3method(print,Model)
S3method(setId,Covariance)
S3method(setId,Dataset)
S3method(setId,Model)
S3method(setLower,Covariance)
S3method(setLower,Model)
S3method(setLowerPlain,CovarianceSE)
S3method(setParams,Covariance)
S3method(setParams,Model)
S3method(setParamsPlain,Covariance)
S3method(setQuantity,Dataset)
S3method(setUpper,Covariance)
S3method(setUpper,Model)
S3method(setUpperPlain,CovarianceSE)
S3method(sigma.f,CovarianceSEVaryingEll)
export(AddCovariance)
export(AddCovariance.Model)
export(Anscombe)
export(BubblingRandomMatrix)
export(Covariance)
export(CovarianceNoise)
export(CovarianceSE)
export(CovarianceSEAniso2D)
export(CovarianceSELocalized)
export(CovarianceSEVaryingEll)
export(Dataset)
export(DeleteRows)
export(DeleteRows.Dataset)
export(DemoPause)
export(DistanceMatrix)
export(FindGapPoints)
export(FixConstParam)
export(FixConstParam.Covariance)
export(Forget)
export(Forget.Model)
export(Freeze)
export(Freeze.Model)
export(GradLogML)
export(GriddedConvexHull)
export(HexagonalGrid)
export(K.specific)
export(K.specific.CovarianceNoise)
export(K.specific.CovarianceSE)
export(K.specific.CovarianceSEAniso2D)
export(K.specific.CovarianceSELocalized)
export(K.specific.CovarianceSEVaryingEll)
export(KDerivImplementation)
export(KDerivImplementation.CovarianceNoise)
export(KDerivImplementation.CovarianceSE)
export(KDerivImplementation.CovarianceSEAniso2D)
export(KDerivImplementation.CovarianceSELocalized)
export(KDerivImplementation.CovarianceSEVaryingEll)
export(KInIn)
export(KInIn.Covariance)
export(KInInDeriv)
export(KInInDeriv.Covariance)
export(KInOut)
export(KInOut.Covariance)
export(KOutIn)
export(KOutIn.Covariance)
export(KOutOut)
export(KOutOut.Covariance)
export(L)
export(L.Model)
export(LazyMatrix)
export(LogML)
export(MSR)
export(MSR.Dataset)
export(Model)
export(NamedCovariance)
export(NamedCovariance.Model)
export(NeedToRecalculate)
export(NeedToRecalculate.LazyMatrix)
export(Plot2D)
export(Plot2D.Dataset)
export(PlotBubblingSurfaces2D)
export(PlotBubblingSurfaces2D.Model)
export(PlotSurface)
export(PosteriorInterval)
export(PosteriorInterval.Model)
export(PosteriorMean)
export(PosteriorMean.Model)
export(PosteriorStandardDeviation)
export(PosteriorStandardDeviation.Model)
export(PredictionMatrix)
export(PredictionMatrix.Model)
export(RemoveRange)
export(RemoveRange.Dataset)
export(Same)
export(Same.Dataset)
export(SetNoiseBounds)
export(SetNoiseBounds.Model)
export(SmartTrace)
export(StoreMatrix)
export(StoreMatrix.LazyMatrix)
export(Train)
export(Train.Model)
export(Untransform)
export(Untransform.Dataset)
export(Variance)
export(Variance.CovarianceNoise)
export(Variance.CovarianceSE)
export(Variance.CovarianceSEAniso2D)
export(Variance.CovarianceSELocalized)
export(Variance.CovarianceSEVaryingEll)
export(Widths)
export(ell)
export(ell.CovarianceSEVaryingEll)
export(erf)
export(getContributionIds)
export(getContributionIds.Model)
export(getD)
export(getD.Dataset)
export(getDataOffset)
export(getDataOffset.Dataset)
export(getDpts)
export(getDpts.Dataset)
export(getId)
export(getId.Covariance)
export(getId.Dataset)
export(getId.Model)
export(getIsPoisson)
export(getIsPoisson.Dataset)
export(getLogspaceNames)
export(getLogspaceNames.CovarianceNoise)
export(getLogspaceNames.CovarianceSE)
export(getLogspaceNames.CovarianceSEAniso2D)
export(getLogspaceNames.CovarianceSELocalized)
export(getLogspaceNames.CovarianceSEVaryingEll)
export(getLower)
export(getLower.Covariance)
export(getLower.Model)
export(getLowerPlain)
export(getLowerPlain.CovarianceNoise)
export(getLowerPlain.CovarianceSE)
export(getLowerPlain.CovarianceSEAniso2D)
export(getLowerPlain.CovarianceSELocalized)
export(getLowerPlain.CovarianceSEVaryingEll)
export(getM)
export(getM.LazyMatrix)
export(getN)
export(getN.Dataset)
export(getNoiseVar)
export(getNoiseVar.Dataset)
export(getParamNames)
export(getParamNames.Covariance)
export(getParamNamesPlain)
export(getParamNamesPlain.CovarianceNoise)
export(getParamNamesPlain.CovarianceSE)
export(getParamNamesPlain.CovarianceSEAniso2D)
export(getParamNamesPlain.CovarianceSELocalized)
export(getParamNamesPlain.CovarianceSEVaryingEll)
export(getParams)
export(getParams.Covariance)
export(getParams.Model)
export(getParamsPlain)
export(getParamsPlain.CovarianceNoise)
export(getParamsPlain.CovarianceSE)
export(getParamsPlain.CovarianceSEAniso2D)
export(getParamsPlain.CovarianceSELocalized)
export(getParamsPlain.CovarianceSEVaryingEll)
export(getQuantity)
export(getQuantity.Dataset)
export(getSignalIds)
export(getSignalIds.Model)
export(getUpper)
export(getUpper.Covariance)
export(getUpper.Model)
export(getUpperPlain)
export(getUpperPlain.CovarianceNoise)
export(getUpperPlain.CovarianceSE)
export(getUpperPlain.CovarianceSEAniso2D)
export(getUpperPlain.CovarianceSELocalized)
export(getUpperPlain.CovarianceSEVaryingEll)
export(getVaryingParamNames)
export(getVaryingParamNames.Model)
export(getX)
export(getX.Dataset)
export(getXformedDpts)
export(getXformedDpts.Dataset)
export(setId)
export(setId.Covariance)
export(setId.Dataset)
export(setId.Model)
export(setLower)
export(setLower.Covariance)
export(setLower.Model)
export(setLowerPlain)
export(setLowerPlain.CovarianceSE)
export(setParams)
export(setParams.Covariance)
export(setParams.Model)
export(setParamsPlain)
export(setParamsPlain.Covariance)
export(setQuantity)
export(setQuantity.Dataset)
export(setUpper)
export(setUpper.Covariance)
export(setUpper.Model)
export(setUpperPlain)
export(setUpperPlain.CovarianceSE)
export(sigma.f)
export(sigma.f.CovarianceSEVaryingEll)
import(R.oo)
